<div class="posts-page">
  <h1>Posts</h1>
  {{#each this.Global.posts as |item|}}
    <div class="post">
      <LinkTo class="post-headline" @route="posts" @model={{item.id}}>
        {{item.headline}}
      </LinkTo>
      <p class="post-text">{{item.text}}</p>
      <p class="post-date">{{item.date}}</p>
    </div>
  {{/each}}
</div>